body{ 
    font-family: 'Oswald', sans-serif;
}

/* NAVBAR contents */

.navbar{
    position: absolute;
    background: #edeaea;
    width: 100vw;
    padding: 10px 0 0 2px;
    margin: 0;
    font-size: 3em;
    top: 0;
    left: 0;
}

.wok{
    position: relative;
    float: left;
    letter-spacing: 5px;
    color: #df1d1d;
    margin: 0;
    padding: 5px 0 5px 10px;
}

ul{
    width: 250px;
    align-content: center;
}


ul.links{
    position: absolute;
    right: 0;
    display: inline-block;
    margin: 0;
    padding: 10px 10px 0 10px;
}

li{
    font-size: large;
    position: relative;
    right: 0;
    float: left;
    margin: 3px 8px 0;
    padding: 5px 0 0 0;
    color: #df1d1d;

}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
    border-radius: 5px;
}

.fullstack{
    letter-spacing: 5px;
    clear: both;
    background: #df1d1d;
    color: white;
    padding: 0 0 0 10px;
    margin: 0;
    height: 75px
}

/* dropdown asset for responsive media query @ 640
*/

.dropdown{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    width: 125px;
    height: 75px;
    position: absolute;
    right: 0;
    top: 84px;
    background:green;
    z-index: 10px;
    visibility: hidden;
}


/* end of header styling details */

@media only screen and (max-width: 640px) {

ul.links{
    visibility: hidden;
}

.menu-icon{
    visibility: visible;
    border: 2px solid red;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 3px;
    float: right;
    margin: 10px 10px 0 0; 
}

.menu-icon:hover{
    background-color: white;
    border: 3px solid red;
    width: 41px;
    height: 41px;
    box-shadow: 0 0 2px 0 rgb(169, 4, 4);
}

.line{
    position: relative;
    visibility: inherit;
    width: 30px;
    height: 5px;
    background: red;
    margin: 4px 0;
    border-radius: 5px;
}

.dropdown{
  visibility: hidden;
}

}